////////////////////////////////////////////
//                                        //
//           BTS Stylesheet v1            //
//        written by Rafa, Fev 2016       //
//                                        //
////////////////////////////////////////////
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
h1 {
  font-weight: 600;
  font-size: 44px;
  letter-spacing: 2px;
  margin: 0;
  @media (max-width: 320px) { font-size: 36px; }
  span {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    @media (max-width: 320px) { font-size: 18px; }
  }
}
h2 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 32px;
  margin: 10px 0 20px 0;
  @media (max-width: 900px) {
    font-size: 18px;
    font-weight: 500;
  }
}
a { color: inherit; }
.smallcaps {
  font-variant: small-caps;
  font-weight: 500;
}
.uppercase {
  text-transform: uppercase;
}
.clear { clear: both; }

.button {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  @media (max-width: 900px) { margin: auto; }
  @media (min-width: 500px) { max-width: 45%; }
  @media (max-width: 1100px) {
    max-width: 100%;
    margin-bottom: 20px;
  }
  padding: 15px 0 15px 0;
  background: #519D9E;
  border-radius: 13px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  &:hover {
    background: darken(#519D9E, 30%);
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
}
.alt-button {
  background: none;
  border: 2px solid #fff;
  margin-left: 5%;
  @media (min-width: 500px) { max-width: 45%; }
  @media (max-width: 1100px) {
    max-width: 100%;
    margin-left: 0;
  }
  padding: 13px 0 13px 0;
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  @media (max-height: 740px) {
    top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
  }
}
html,
body {
  margin: 0;
  background: #000;
  position: relative;
}
.gangsta-wrapper {
  height: 100vh;
  width: 100vw !important;
}
.gangsta-wrapper .text-wrapper {
  @media (max-width: 900px) {
    text-align: center;
    width: 90%;
  }
}
.column1 {
  position: relative;
  width: 35vw;
  height: 100vh;
  float: left;
  @media (max-width: 900px) {
    position: absolute;
    width: 100vw;
  }
}
.column2 {
  position: relative;
  width: 65vw;
  height: 100vh;
  float: left;
  @media (max-width: 900px) {
    position: absolute;
    width: 100vw;
    background: hsla(0, 0%, 0%, 0.60);
  }
}
.image-wrapper {
  @include vertical-align;
  position: absolute;
  width: 300px;
  height: 2128px;
  #poster { display: none; }
  @media (min-width: 900px) { right: 0; }
  @media (max-width: 900px) {
    #video { display: none; }
    #poster { display: inline; }
    position: relative;
    margin: auto;
    img {
      filter: blur(15px);
      -webkit-filter: blur(15px);
    }
  }
}
#watch {
  position: absolute;
  right: 0;
  width: 300px;
}
.ui {
  position: absolute;
  top: 802px;
  right: 56px;
  width: 195px;
}
.content-wrapper {
  height: 2128px;
  padding-left: 100px;
  @media (max-width: 900px) { padding-left: 0; }
}
.gangsta-wrapper .content-wrapper {
  @include vertical-align;
}
.testimonials {
  position: relative;
  width: 100%;
  display: block;
  @media (max-width: 900px) {
    display: none;
  }
  clear: both;
  overflow: hidden;
  blockquote {
    text-align: left;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    &:hover,
    &:focus { opacity: 1; }
  }
  p {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    margin-bottom: 20px;
  }
  a {
    color: #519D9E;
    text-decoration: none;
  }
  .ninetofivemac img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
.text-wrapper {
  position: relative;
  width: 90%;
  max-width: 700px;
  @media (max-width: 900px) {
    max-width: 640px;
    margin: auto;
  }
  top: 802px;
}
.alt-footer {
  margin-top: 50px;
  @media (max-width: 320px) {
    margin-top: 20px;
  }
  line-height: 30px;
  display: block;
  @media (max-width:  800px) { display: block; }
  @media (max-height: 800px) { display: block; }
  a {
    text-decoration: none;
    pointer-events: all;
  }
}
.footer {
  display: none;
  @media (max-width:  800px) { display: none; }
  @media (max-height: 800px) { display: none; }
  pointer-events: none;
  position: absolute;
  top: 90vh;
  width: 100%;
  text-align: center;
  font-size: 18px;
  a {
    text-decoration: none;
    pointer-events: all;
  }
}
.greyed-out {
  opacity: 0.5;
  padding-bottom: 2px;
  margin-bottom: 20px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.greyed-out:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.other-links {
  margin-top: 10px;
  a {
    opacity: 0.5;
    padding-bottom: 2px;
    margin-bottom: 20px;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  a:hover {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  // a:first-child { margin-right: 56px; }
}

blockquote {
  border-left: 2px solid #fff;
  padding-left: 40px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

#case-study {
  width: 100vw !important;
  h1 { margin-bottom: 40px; }
  h2 {
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  p {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    margin-bottom: 20px;
  }
  a {
    color: #519D9E;
    text-decoration: none;
  }
  ul {
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-padding-start: 20px;
    li {
      margin-bottom: 10px;
      padding-left: 20px;
      line-height: 30px;
    }
  }
  .strikethrough {
    text-decoration: line-through;
  }
  img {
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .image-center {
    width: 100%;
    text-align: center;
  }
  .out-of-bounds {
    height: 78px;
    width: auto;
  }
  .with-border { border: 2px solid #fff;}
  .watch-screenshot {
    max-width: 200px;
  }
  .ios-screenshot {
    max-width: 350px;
  }
  .signature {
    max-width: 190px;
    margin-bottom: -20px;
  }
  .logo {
    max-width: 350px;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  .button {
    color: #fff;
    margin-left: 0;
    float: none;
    width: 100%;
    max-width: 350px;
  }
  .text-wrapper {
    top: 200px;
    padding-bottom: 200px;
  }
  .column2 { height: auto; }
}

.press {
  width: 100vw !important;
  p {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .content-wrapper {
    height: auto;
    .text-wrapper {
      top: 14vh;
      padding-bottom: 200px;
      a {
        color: #519D9E;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
        &:hover {
          color: darken(#519D9E, 15%);
          -webkit-transition: color 0.3s ease;
          -moz-transition: color 0.3s ease;
          -o-transition: color 0.3s ease;
          transition: color 0.3s ease;
        }
      }
    }
  }
  a {
    color: #519D9E;
    text-decoration: none;
  }
  .details {
    margin-top: 40px;
  }
  .media-kit {
    margin-top: 100px;
  }
  img { width: 100%; }
  .ios-screenshots,
  .watch-screenshots {
    margin-bottom: 20px;
    img {
      width: 18%;
      margin-right: 1%;
    }
  }
  .app-icons {
    margin-bottom: 20px;
    img {
      width: 38%;
      margin: 0 5% 0 5%;
    }
  }
  .back-link {
    opacity: 0.5;
    display: block;
    color: #fff !important;
    margin-bottom: 20px;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
    span {
      position: relative;
      bottom: -4px;
      width: 13px;
      height: 22px;
      margin-right: 5px;
    }
  }
}