////////////////////////////////////////////
//                                        //
//           BTS Stylesheet v1            //
//        written by Rafa, Fev 2016       //
//                                        //
////////////////////////////////////////////
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
h1 {
  font-weight: 300;
  font-size: 46px;
  letter-spacing: 2px;
  margin: 0;
  @media (max-width: 320px) { font-size: 40px; }
  span {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    @media (max-width: 320px) { font-size: 18px; }
  }
}
h2 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 32px;
  margin: 10px 0 20px 0;
  @media (max-width: 320px) { font-size: 20px; }
}
a {
  color: inherit;
}
.smallcaps {
  font-variant: small-caps;
  font-weight: 500;
}
.uppercase {
  text-transform: uppercase;
}
.greyed-out {
  opacity: 0.5;
}
.button {
  display: block;
  position: relative;
  width: 100%;
  @media (max-width: 900px) { margin: auto; }
  @media (min-width: 500px) { max-width: 350px; }
  padding: 15px 0 15px 0;
  background: #4DBEF9;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  &:hover {
    background: darken(#4DBEF9, 30%);
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  @media (max-height: 740px) {
    top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
  }
}
html,
body {
  margin: 0;
  background: #000;
  height: 100vh;
  position: relative;

  overflow: hidden;
}
.column1 {
  position: relative;
  width: 35vw;
  height: 100vh;
  float: left;
  @media (max-width: 900px) {
    position: absolute;
    width: 100vw;
  }
}
.column2 {
  position: relative;
  width: 65vw;
  height: 100vh;
  float: left;
  @media (max-width: 900px) {
    position: absolute;
    width: 100vw;
    background: hsla(0, 0%, 0%, 0.40);
    text-align: center;
  }
}
.image-wrapper {
  @include vertical-align;
  position: absolute;
  width: 300px;
  height: 2128px;
  animation: 4s linear infinite shake;
  @media (min-width: 900px) { right: 0; }
  @media (max-width: 900px) {
    position: relative;
    margin: auto;
    img {
      filter: blur(10px);
      -webkit-filter: blur(10px);
    }
  }
}
#watch {
  position: absolute;
  right: 0;
  width: 300px;
}
#ui {
  position: absolute;
  top: 802px;
  right: 61px;
  width: 192px;
}
#knob {
  position: absolute;
  top: 834px;
  right: 61px;
  width: 192px;
  animation: 4s linear infinite rotate;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(45deg); }
  40% { transform: rotate(120deg); }
  45% { transform: rotate(80deg); }
  80% { transform: rotate(0deg);}
  100% { transform: rotate(0deg);}
}

@keyframes shake {
  0% { right: 0px; }
  89% { right: 0px; }
  90% { right: -7px; }
  92% { right: 7px; }
  94% { right: -7px; }
  96% { right: 7px; }
  100% { right: 0px;}
}
.content-wrapper {
  @include vertical-align;
  height: 2128px;
  padding-left: 100px;
  @media (max-width: 900px) { padding-left: 0; }
}
.text-wrapper {
  position: relative;
  width: 90%;
  max-width: 700px;
  @media (max-width: 900px) {
    max-width: 640px;
    margin: auto;
  }
  top: 802px;
}
.footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  @media (max-height: 540px) { bottom: 10px; }
  .greyed-out {
    a { text-decoration: none; }
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .greyed-out:hover {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
}